<header class="header">
  <div class="header-container">
    <div class="header-top">
      <img src="../../assets/image/logo-vip.png" alt="" class="header-logo" />
    </div>
    <div class="header-main">
      <div class="header-content">
        <h1
          class="header-heading animate__animated animate__backInUp animate__delay-1s"
        >
          V.I.P
          <span> 12<sup>th</sup> Birthday Party </span>
        </h1>
        <p
          class="header-desc animate__animated animate__fadeIn animate__delay-2s"
        >
          Tuổi 12 với biết bao thăng trầm và cảm xúc. Đây là một dịp đặc biệt để
          mọi thành viên trong đại gia đình V.I.P cùng nhau ôn lại những kỷ niệm
          đáng nhớ. Đồng thời, cùng chào đón tuổi mới với nhiều thành công mới!
        </p>
        <div
          class="header-actions animate__animated animate__tada animate__delay-3s animate__infinite"
        >
          <a href="/register" class="btn btn--primary">Tham gia ngay</a>
        </div>
      </div>
    </div>
  </div>
</header>
