<div class="login-container">
  <div class="login-main">
    <div class="login-content">
      <div class="login-title">Vipform</div>
      <div class="login-sub">Xin chào, đây là ai?</div>
      <div class="login-input">
        <label>Email</label>
        <input placeholder="forcewech@gmail.com" type="email" />
      </div>
      <div class="login-input">
        <label>Mật khẩu</label>
        <input placeholder="Enter your password" type="password" />
      </div>
      <div>
        <button class="login-submit">
          <a href="admin/user-management">Đăng nhập</a>
        </button>
      </div>
      <a class="go-home" href="/"> &#60;&#60; Quay về trang chủ </a>
    </div>
  </div>
</div>
