<div class="check-container">
  <div class="title">CHECK-IN PHONE OR EMAIL</div>
  <div class="check-content">
    <div>
      <label htmlFor="formGroupExampleInput" class="form-label"
        >Số điện thoại hoặc email
      </label>
      <span class="n-form-item-label__asterisk">&nbsp;*</span>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="Nhập số điện thoại hoặc email"
      />
    </div>
    <button class="btn btn-primary">Check-in</button>
  </div>
</div>
