<div class="register-container">
  <div class="signup">
    <div class="birthday-layout">
      <div class="n-grid">
        <div>
          <div class="layout-left">
            <div class="left-body">
              <img src="../../../assets/image/logo-vip.png" alt="logo" />
              <h1>Hãy chia sẻ thông tin cá nhân để đăng ký</h1>
              <p>
                Cảm ơn sự quan tâm của bạn tới bữa tiệc sinh nhật của CLB Tiếng
                Anh V.I.P. Xin hãy cung cấp thông tin cá nhân để hoàn tất việc
                đăng ký.
              </p>
            </div>
            <img
              class="left-birthday"
              src="../../../assets/image/birthday.png"
              alt="birthday"
            />
            <img
              class="left-cloud"
              src="../../../assets/image/cloud.png"
              alt="cloud"
            />
          </div>
        </div>
        <div>
          <div class="layout-right">
            <div class="right-title">
              <h1>Chúc mừng V.I.P sinh nhật 12 tuổi</h1>
              <p>Cùng đăng ký để tham dự bữa tiệc sinh nhật ngay thôi</p>
              <form>
                <div>
                  <label htmlFor="fullnameid" class="form-label mb-0"
                    >Họ và tên</label
                  ><span class="n-form-item-label__asterisk">&nbsp;*</span>
                  <input
                    id="fullname"
                    type="text"
                    class="form-control"
                    placeholder="Đặng Đức Duy"
                    aria-describedby="nameHelp"
                  />
                </div>
                <div>
                  <label htmlFor="generationid" class="form-label mb-0"
                    >Sinh viên khóa</label
                  ><span class="n-form-item-label__asterisk">&nbsp;*</span>
                  <select
                    required
                    id="generationid"
                    name="generationname"
                    class="form-select"
                  >
                    <option value="" disabled selected>Chọn khóa</option>
                    <option>Khóa 01</option>
                    <option>Khóa 02</option>
                    <option>Khóa 03</option>
                    <option>Khóa 04</option>
                    <option>Khóa 05</option>
                    <option>Khóa 06</option>
                    <option>Khóa 07</option>
                    <option>Khóa 08</option>
                    <option>Khóa 09</option>
                    <option>Khóa 10</option>
                    <option>Khóa 11</option>
                    <option>Khóa 12</option>
                    <option>Khóa 13</option>
                    <option>Khóa 14</option>
                    <option>Khóa 15</option>
                    <option>Khóa 16</option>
                    <option>Khóa 17</option>
                  </select>
                </div>
                <div>
                  <label htmlFor="emailid" class="form-label mb-0">Email</label
                  ><span class="n-form-item-label__asterisk">&nbsp;*</span>
                  <input
                    id="emailid"
                    type="email"
                    class="form-control"
                    placeholder="dangduy02@gmail.com"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div>
                  <label htmlFor="phoneid" class="form-label mb-0"
                    >Số điện thoại</label
                  ><span class="n-form-item-label__asterisk">&nbsp;*</span>
                  <input
                    id="phoneid"
                    type="text"
                    class="form-control"
                    placeholder="0339832545"
                    aria-describedby="phoneHelp"
                  />
                </div>
                <div>
                  <label htmlFor="facebookid" class="form-label mb-0"
                    >Link facebook</label
                  ><span class="n-form-item-label__asterisk">&nbsp;*</span>
                  <input
                    id="facebookid"
                    type="text"
                    class="form-control"
                    placeholder="https://www.facebook.com/profile.php?id=100069769567023"
                    aria-describedby="facebookHelp"
                  />
                </div>
              </form>
              <button class="btn btn-primary">Tiếp tục</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
