:host {
    div#loading {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon-loading {
        color: #fff;
        font-size: 36px;
        animation: rotate-right 1s infinite linear;
    }
}

@keyframes rotate-right {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}